
/*��ҳ��½��2015-06-02*/
.clearfix:before, .clearfix:after{content:'';display:table; }
.clearfix:after{clear:both;}

.userLoginModule{
    width:306px;
    padding-bottom:10px;
    position:absolute;
    left:50%;
    top:48px;
    margin-left:194px;
    z-index:500;
    background:url(../../images/userlogin/userLoginModule_bgbt.png) bottom center no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/userlogin/userLoginModule_bgbt.png');
    _ background-image:none;
}
/*������title*/
.userLogintitle{width:298px;padding:4px 0px 0px 4px;}
.userLogintitle ul{width:298px;height:41px;background:url(../../images/userlogin/titleActive_bg.png) left top no-repeat;}
.userLogintitle li{float:left;width:149px;height:39px;line-height:39px;border-bottom:2px solid #1887e3;text-align:center;font-size:18px;color:#333;cursor:pointer;}
.userLogintitle .titleActive_l{background:url(../../images/userlogin/titleActive_l.png) left top no-repeat;color:#fff;}
.userLogintitle .titleActive_r{background:url(../../images/userlogin/titleActive_r.png) right top no-repeat;color:#fff;}

/*�û�������*/
.userLoginConBox{width:272px;padding:16px 0px 9px 30px;margin-left:2px;background:url(../../images/userlogin/userLoginModule_bg2.png) top center repeat-y;}
.userLoginCon, .userLoginActive{width:280px;}
.userName, .password, .telNumber{padding:6px;margin:2px 0px;width:246px;background:url(../../images/userlogin/login_input_bg.png) left top no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/userlogin/login_input_bg.png');
    _ background-image:none;
}
.userCode{position:relative;padding:6px;margin:2px 0px;width:246px;background:url(../../images/userlogin/userCode.png) left top no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/userCode.png');
    _ background-image:none;
}
.userCode input{padding:0 10px;margin:0px;width:80px;height:32px;line-height:32px;border:0px;outline-style:none;font-size:14px;color:#999;*margin-top:-1px;}
.userCode img{position:absolute;top:4px;left:120px;width:72px;height:36px;vertical-align: middle;}
.userCode span{position:absolute;top:12px;right:7px;width:45px;padding-right:11px;text-align: right;font-size:14px;color:#1887e3;cursor:pointer;}
.userCode span a{text-align: right;font-size:14px;color:#1887e3;}



.errorMessage{background:url(../../images/userlogin/login_inputts_bg.png) left top no-repeat;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/userlogin/login_inputts_bg.png');
            _ background-image:none;
}
.banner .messageBox{display:none;padding-left:7px;padding-bottom:2px;height:20px;line-height:20px;font-size:14px;color:#1887e3;}
.banner .messageBox a{font-size:14px;color:#1887e3;}
.banner .font_red{color:#f43c5e;font-size:14px;}
.userName i{margin:10px 7px 0px 10px;float:left;width:15px;height:15px;background:url(../../images/userlogin/userName.png) left top no-repeat;}
.userName input, .password input{padding:0px;margin:0px;width:200px;height:32px;line-height:32px;border:0px;outline-style:none;font-size:14px;color:#999;*margin-top:-1px;}
.password i{margin:10px 7px 0px 10px;float:left;width:15px;height:15px;background:url(../../images/userlogin/password.png) left top no-repeat;}

/*�Զ���¼\�һ�����*/
.record_Password{width:240px;padding-left:3px;height:22px;line-height:22px;font-size:14px;color:#333;}

.record{float:left;width:160px;height:22px;font-size:14px;color:#333;}
.record label{font-size:14px;color:#333;vertical-align: middle;line-height:20px;}
.record label input{vertical-align:bottom;}
/*.record label{_display:none;margin:5px 7px 0px 0px;padding:0px;float:left;width:15px;height:15px;background:url(../../images/userlogin/record_icon_yes.png) left top no-repeat;}
.record .labelbg_1{background:url(../../images/userlogin/record_icon_no.png) left top no-repeat;}
.record #record{display:none;_display:inline;_margin:5px 7px 0px 0px;}*/

.banner .PasswordLoss{float:right;width:60px;}
.PasswordLoss a{font-size:14px;color:#333;}

/*botton*/
.loginBotton{display:block;padding:10px 0px 10px 5px;}
.loginSubmit{width:238px;height:40px;line-height:38px;border:0px;font-size:18px;color:#fff;background:url(../../images/userlogin/loginBotton_yes.png) left top no-repeat;}

/*��û���˺�ע��һ��*/
.prompt{margin-left:5px;_display:inline;padding-bottom:8px;width:235px;height:18px;line-height:18px;border-bottom:1px solid #d3a2a2;}
.prompt a{font-size:14px;color:#1887e3;}

/*�����¼*/
.otherLogin{padding-left:5px;padding-top:12px;}
.otherLogin li{float:left;margin-right:6px;cursor:pointer;}
.otherLogin .noPassword{width:94px;height:34px;padding-left:20px;line-height:34px;color:#fff;font-size:14px;text-align:center;background:url(../../images/userlogin/noPassword.png) left top no-repeat;}
.otherLogin .noPasswordHide{background:url(../../images/userlogin/noPassword_no.png) left top no-repeat;color:#a6a6a6;}
/*�������¼*/
.password_code_box{width:242px;padding-top:2px;}
.userLoginCell .loginBotton{padding-bottom:10px;}
.userLoginCell .record_Password{padding-top:2px;}
.password_code_box .password_code{float:left;padding:6px;margin:0px 0px;width:138px;background:url(../../images/userlogin/login_inputpaw_bg.png) left top no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/userlogin/login_inputpaw_bg.png');
    _ background-image:none;
}
.password_code input{padding:0px;margin:0px;width:100px;height:32px;line-height:32px;border:0px;outline-style:none;font-size:14px;color:#999;*margin-top:-1px;}
.password_code i{margin:10px 7px 0px 10px;float:left;width:15px;height:15px;background:url(../../images/userlogin/password.png) left top no-repeat;}
.password_code_box .code{float:right;width:91px;height:36px;margin-top:4px;line-height:36px;text-align:center;font-size:14px;color:#333;background:url(../../images/userlogin/code_bg.png) left top no-repeat;cursor:pointer;}
.loginSubmit_no{background:url(../../images/userlogin/loginBotton_no.png) left top no-repeat;color:#999;}



/*ѧϰ������*/
.learnCard .password_code_box input{padding-left:5px;width:120px;}
.telNumber input{padding:0px;margin:0px;width:200px;height:32px;line-height:32px;border:0px;outline-style:none;font-size:14px;color:#999;*margin-top:-1px;}
.telNumber i{margin:10px 7px 0px 10px;float:left;width:15px;height:15px;background:url(../../images/userlogin/telNumber.png) left top no-repeat;}
.learnCard .loginBotton{padding-top:5px;padding-bottom:2px;}
.learnCard .password_code_box .password_code{margin:0px;}
.learnCard .password_code_box .code{margin-top:4px;}
.banner .learnCardShow{display:block;height:18px;line-height:18px;*height:16px;*line-height:16px;font-size:14px;color:#1887e3;cursor:pointer;}
.learnCardAlert{
    width:216px;
    height:335px;
    position:absolute;
    left:50%;
    top:52px;
    margin-left:-30px;
    z-index:500;
}
.learnCard_Close{position:absolute;right:-5px;top:-10px;}

.userLoginModule li{list-style:none;}
.userLoginModule img{border:none;vertical-align:top;}
.banner .loginHide{display:none;}
.banner .loginShow{display:block;}
.banner .loginHide1{display:none;}
.banner .loginShow1{display:block;}



/****弹窗****/
.learnCardWindow{float:left;width:510px;}
.learnCardWindow_left{float:left;width:340px;text-align:center;}
.learnCardWindow_left p{width:340px;text-align:center;font-size:14px;color:#f43c5e;margin:20px 0px;}
.learnCardInput{margin-bottom:30px;width:238px;height:36px;border:none;line-height:36px;text-align:center;font-size:14px;color:#333;background: url(/images/userlogin/WindowLearnInput.png) left top no-repeat;}
.learnCardBotton{width:238px;height:40px;border:none;line-height:40px;text-align:center;font-size:18px;color:#fff;background: url(/images/userlogin/WindowLearnBotton.png) left top no-repeat;}
.learnCardWindow_right{float:right;width:170px;}
.Windowlearn{padding-top:10px;padding-right:20px;width:245px;margin-left:50px;margin-bottom:10px;height:50px;background:url(/images/userlogin/Windowlearnbg.png) left top no-repeat;font-size:14px;color:#333;}


#footerpanel {
    overflow: hidden;
    z-index:999;
    font-size: 12px;
    text-align: center;
    right: 0px;
    bottom: 0;
    background: url(http://www.yitiku.cn/images/QQjt.png) center top no-repeat ;
    width: 120px;
}

#footerpanel h2{
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    font-family: '微软雅黑';
    margin-bottom: 15px;
    text-align: center;
    height: 32px;
}
#footerpanel div{margin-bottom: 10px;}
#footerpanel div h3{
    font-size: 14px;
    color: #333;
    text-align: center;
}
#footerpanel div a{
    display: block;
    width: 92px;
    height: 22px;
    margin: 0 auto;
}
