
/*背景遮罩*/
.reg-mask { position: fixed; left:0; top:0; bottom:0; right:0; background: #000; opacity: 0.5; filter: alpha(opacity=50); z-index: 1000; }

/*关闭按钮*/
.reg-form .btn-close { position: absolute; left: 100%; top: 0px; margin-left: 5px; border-radius: 5px; display: block; text-indent: -9999px; width: 32px; height: 32px; background: #fff url(/images/close_24.png) no-repeat center center; }
.reg-form .btn-close:hover { opacity: 0.8; filter: alpha(opacity=80); }

/*logo*/
.reg__title { text-align: center; }
.reg__title img { margin-top: 45px; margin-bottom: 25px; }

/*账号密码登录*/
.reg-form { position: absolute;  z-index: 1110; left: 50%; margin-left: -300px;  width: 600px; top: 80px; background: #fff; border-radius: 5px; }
.reg-form-detail { text-align: center; padding-top: 30px; }
.reg-form-input { position: relative; margin-bottom: 20px; }
.reg-form-input input { height: 18px; padding: 15px 5px; width: 350px; border: 1px solid #dcdcdc }
.reg-form-input .placeholder { position: absolute; left: 40px; top: 15px; color: #999; display: none; }
.reg-form-input label.placeholder { cursor: text; }
.reg-form-input .fm-warn { float: left; position: absolute; right: -45px; top: -45px; display: none; }
.reg-form-input .fm-warn p { height: 36px; line-height: 36px; background: #000; opacity: .7; filter: alpha(opacity=70); font-size: 14px; color: #fff; padding: 0 12px; border-radius: 5px; }
.reg-form-input .fm-warn i { position: absolute; bottom: -8px; left: 10px; display: block; width: 0; height: 0; border: 4px solid #000; border-color: #000 transparent transparent #000; opacity: .7; filter: alpha(opacity=70); }
.active-warn input { color: #DE1313; border: 1px solid #F58484; }
.reg-form-detail .active-warn .fm-warn { display: block; }
.reg-form-detail,.login-others{ width: 360px; margin-left: auto; margin-right: auto; }
.reg-btn button { display: block; width: 360px; padding: 12px 0; background: #4498ee; border-radius: 5px; text-align: center; font-size: 16px; color: #fff; margin: 0 auto 20px; border: 0; }
.login-line { color: #666; line-height: 20px; height: 20px; margin-bottom: 30px; }
.login-auto { float: left; }
.login-auto .icona-check { margin-top: -2px; margin-right: 5px; }
.login-auto .checkbox { cursor: pointer; }
.login-pwd { float: right; }
.login-pwd a { color: #666; }

/*选择其他登录方式*/
.oth-login { position: relative; height: 0; width: 100%; border-bottom: 1px solid #ddd; }
.oth-login p { font-size: 14px; color: #999; position: absolute; left: 50%; top: -8px; margin-left: -75px; background-color: #fff; padding: 0 20px; }
.oth-qq { text-align: center; margin-top: 30px; margin-bottom: 30px; }
.oth-qq a { display: inline-block; width: 40px; height: 40px; }
.weixin-btn { background: url(../images/login/m-wechat.png) no-repeat; }
.weixin-btn:hover { background: url(../images/login/m-wechat-h.png) no-repeat;}
.qq-btn { background: url(../images/login/qq.png) no-repeat; }
.qq-btn:hover { background: url(../images/login/qq-h.png) no-repeat; }
.register__text { text-align: center; color: #999; padding-bottom: 60px;}
.register__text > a { color: #4498ee; }

/*微信二维码扫码容器*/
.login-method--weixin { text-align: center; }
.login-method--weixin .title { font-size: 20px; padding: 10px; }
.login-method--weixin .tishi{ font-size: 12px; padding-bottom: 6px; color: #666}
.login-method--weixin .wrp_code { width: 250px; height: 250px; margin: 0 auto; position: relative; }
.login-method--weixin .qrcode { width: 220px;  border: 1px solid #ddd; display: none; }
.login-method--weixin .info { font-size: 14px; color: #999; line-break: 24px; padding-top: 16px; }
.login-method--weixin .wxcode-loading {position: absolute; width: 100%; line-height: 24px; top: 130px; text-align: center; }

/*右上角登录方式切换*/
.login-method__tab { position: absolute; right: 16px; top: 16px; }
.login-method__tab li {position: relative}
.login-method__tab .tip { background: #404040; color: #fff; font-size: 14px; width: 140px; height: 34px; line-height: 34px; border-radius: 4px;  position: absolute; right: 86px; top: 0; }
.login-method__tab li .img { width: 66px; height: 66px; text-indent: -999px; overflow: hidden; cursor: pointer; }
.login-method__tab--wx .img { background: url(../images/login/tab-weixin.png) no-repeat left top; }
.login-method__tab--ac .img { background: url(../images/login/tab-account.png) no-repeat left top; }
.login-method__tab li .tip i { float: left; width: 14px; height: 14px; margin: 10px; }
.login-method__tab li .tip b { position: absolute; right: -12px; top: 12px; width:0; height: 0; display: block; border: 6px solid #404040; border-color: transparent transparent transparent #404040; }
.login-method__tab--wx .tip i { background: url(../images/login/ico-qrcode.png) no-repeat left top; }
.login-method__tab--ac .tip i { background: url(../images/login/ico-pass.png) no-repeat left top; }
.hide{display:none;}