* {
	font-family: "Microsoft YaHei", "SimSun", Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}
.os-mac {
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3";
}
.os-vista, .os-win7 {
	font-family: 'Microsoft YaHei';
}
.os-ios {
	font-family: 'STHeiti', HelveticaNeue;
}
body, h1, h2, h3, h4, h5, h6, p, form, ul, li, td, th, table {
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ul {
	list-style: none;
}
img {
	border: none;
}
a {
	color: #333;
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #f43c5e;
}
.colf43{color: #f43c5e;}
.clear {
	width: 0px;
	height: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	font-weight: normal;
	clear: both;
}
.clearBoth {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mt {
	margin-top: 10px;
}
.mb {
	margin-bottom: 10px;
}
.ml {
	margin-left: 10px;
}
.pl {
	padding-left: 10px;
}
.full {
	width: 100%;
}
.full01 .fl a, .full01 .fr .loginAfter b, .full01 .fr .loginAfter div, .number a, .about li, .product li span, .inputBox .name, .inputBox .password, .userLoginBox .error, .btn2 {
	background: url(../../images/questionBank/index/newindex.png) no-repeat;
}
.product .sts li span {background: url(../../images/ytkgb/ytkgb.png) no-repeat;}
.product .sts .icon1 span{background-position:76px 0px ;margin-left:-10px;}
.product .sts .icon1 .onhover{background-position:76px -206px;}
.product .sts li {width:265px; margin: 13px 88px 32px 10px;}
.product .sts .icon2 span{background-position:-146px 0px ;}
.product .sts .icon2 .onhover{background-position:-146px -207px;}
.product .sts .icon3 span{background-position:-364px 0px ;}
.product .sts .icon3 .onhover{background-position:-364px -207px;}
/*ie6 */
/*弹出窗口*/
#windownbg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
}
#windown-box {
	position: fixed;
	_position: absolute;
	text-align: left;
	padding: 10px;
	background: url("../../images/layer_bg.png") repeat scroll 0 0 transparent;
}
#windown-title {
	position: relative;
	width: 100%;
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	background-color: #1887e3;
}
#windown-title h2 {
	position: relative;
	left: 20px;
	font-size: 14px;
	color: #fff;
}
#windown-close {
	position: absolute;
	right: 20px;
	top: 12px;
	width: 18px;
	height: 17px;
	text-indent: -10em;
	overflow: hidden;
	background: url(../../images/questionBank/index/mbdel.gif) no-repeat 0px 3px;
	cursor: pointer;
}
#windown-content-border {
	position: relative;
	background: #fff;
	padding: 5px 0 10px 5px;
}
#windown-content img, #windown-content iframe {
	display: block;
}
#windown-content .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}
.mbIe6 {
	width: 580px;
	float: left;
	padding: 15px;
}
.browser {
	padding: 40px 0px;
}
.browser {
	width: 580px;
	height: 100px;
	float: left;
}
.browser ul {
	width: 530px;
	height: 100px;
	padding-left: 50px;
	float: left;
}
.browser ul li a {
	display: block;
}
.browser ul li {
	padding-right: 40px;
}
.browser ul li, .browser ul li a {
	width: 64px;
	height: 64px;
	float: left;
}
.chrome, .firefox, .ie9, .opera, .safari {
	background: url(../../images/questionBank/index/ie6.jpg) no-repeat;
}
.chrome {
	background-position: -33px -22px;
}
.firefox {
	background-position: -324px -22px;
}
.ie9 {
	background-position: -221px -22px;
}
.opera {
	background-position: -122px -22px;
}
.safari {
	background-position: -420px -22px;
}
/*删除试题*/
.mbdelQues {
	width: 360px;
	padding: 20px 0px;
	float: left;
}
.mbdelQues div {
	line-height: 24px;
	font-size: 14px;
	padding: 10px 15px 5px 20px;
}
.mbdelQues h4 {
	line-height: 24px;
	padding: 0px 18px;
	text-align: center;
	font-size: 14px;
}
/*ie6 */
.full01 {
	height: 32px;
	width: 100%;
	line-height: 32px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dedede;
}
.box1000 {
	width: 1000px;
	margin: 0px auto;
}
.topNav {padding-top:10px;}
.topNav .call{float:right;width:207px;height:60px;background:url(../../images/questionBank/index/call-new.png) left 12px no-repeat;}
.topNav .call .call-tel{font-size:24px;color:#f43c5e;text-align:right;padding-top:4px;}
.topNav .call .call-txt{font-size:12px;color:#999;text-align:left;}
.topNav .call .call-txt em{font-size:14px;float:right;padding-left:23px;font-style:normal;color:#999;}
.topNav .call .call-txt span{float:right;font-size:14px;color:#999;}

.box1000 .nav{float:left; padding-bottom: 10px;margin-left: -97px;}
.full01 .fl a, .full01 .fr div, .full01 .fr a {
	display: block;
	float: left;
	font-size: 14px;
}
.full01 .fl a {
	padding: 0px 8px 0px 21px;
	margin-right: 8px;
}
.full01 .fl .recharge {
	background-position: 100px 5px;
	padding-left: 0px;
	color: #f43c5e;
}
.full01 .fl .stow {
	padding: 0px 8px 0px 23px;
	background-position: -87px 4px;
}
.full01 .fl .name {
	background-position: -984px -474px;
}
.full01 .fr {
	height: 32px;
}
.full01 .fr div {
	padding-top: 4px;
}
.full01 .fr .sinaCout {
	height: 28px;
	overflow: hidden;
}
.full01 .fr .topLogin {
	padding-top: 0px;
	height: 28px;
	overflow: hidden;
}
.full01 .fr .loginAfter {
	position: relative;
	padding-top: 0px;
}
.full01 .fr .loginAfter b {
	width: 22px;
	height: 32px;
	display: block;
	float: left;
	cursor: pointer;
	background-position: right -404px;
}
.full01 .fr .loginAfter div {
	width: 80px;
	position: absolute;
	right: -4px;
	top: 37px;
	display: none;
	z-index: 3000;
	padding-top: 6px;
	background-position: -760px 0px;
}
.full01 .fr .loginAfter ul {
	float: left;
	border-top: 3px solid #f43c5e;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px #AAAAAA;
}
.loginAfter ul li {
	width: 80px;
	line-height: 30px;
	float: left;
}
.full01 .fr .loginAfter ul a {
	width: 80px;
	color: #333;
	display: block;
	text-align: center;
}
.full01 .fr .loginAfter ul a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #f43c5e;
}
.loginAfter span {
	display: block;
	float: left;
	font-size: 14px;
}
.topNav ul {
	float: left;
}
.topNav li {
	float: left;
	position: relative;
	z-index: 2000;
	padding: 20px 0 0 97px;
}
.topNav li a {
	display: block;
	font-size: 18px;
	line-height: 36px;
	color: #333;
	border-bottom: 3px solid #fff;
}
.topNav li a:hover {
	text-decoration: none;
	color: #f43c5e;
	border-bottom: 3px solid #f43c5e;
}

.subjectNav div {
	width: 79px;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px #AAAAAA;
	position: absolute;
	z-index: 3000;
	display: none;
	border-top: 3px solid #f43c5e;
}
.subjectNav01 div {
	left: -23px;
	top: 36px;
}
.subjectNav02 div {
	left: 85px;
	top: 56px;
}
.subjectNav03 div {
	left: -4px;
	top: 56px;
}
.subjectNav04 div {
	left: -4px;
	top: 56px;
}
.topNav .subjectNav div a {
	width: 79px;
	display: block;
	color: #333;
	font-size: 14px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	border-bottom: 0px;
	line-height: 34px;
}
.topNav .subjectNav div a:hover {
	text-decoration: none;
	border-bottom: 0px;
	color: #fff;
	background-color: #f43c5e;
}
.btn {
	display: block;
	float: left;
	font-size: 18px;
	text-align: center;
	color: #fff;
	height: 39px;
	line-height: 38px;
	cursor: pointer;
	/* padding-bottom: 2px; */
	padding-bottom: 1px\9;
	padding-top: 1px\9;
	overflow: hidden;
}
.btn:hover {
	color: #fff;
	text-decoration: none;
}
.btn1 {
	width: 129px;
	border: 0px;
	margin-top: 218px;
	border: 1px solid #1887e3;
	background-color: #1887e3;
	margin-left: -1px;
}
.btn1:hover {
	border: 1px solid #1b99f0;
	background-color: #1b99f0;
}
.btn01 {
	width: 129px;
	border: 0px;
	margin-top: 218px;
	border: 1px solid #f43c5e;
	background-color: #f43c5e;
	margin-left: -1px;
}
.btn01:hover {
	border: 1px solid #fa446b;
	background-color: #fa446b;
}
.btn2 {
	width: 236px;
	border: 1px solid #da2c4d;
	/*text-indent: -9999px;*/
	background-color: #f43c5e;
	background-position: -253px 0px;
}
.loginTxt .btn2 {
	background-position: -443px 3px;
}
.btn2:hover {
	border: 1px solid #ea3257;
	background-color: #fa446b;
}
body a.btn2:hover{
	text-decoration: none;
}
.btn02{
	background-color: #F43C5E;
    border: 1px solid #DA2C4D;font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 0 14px;}
.btn02:hover {
	border: 1px solid #ea3257;
	background-color: #fa446b;
}
.btn3 {
	width: 129px;
	border: 0px;
	margin-top: 218px;
	border: 1px solid #e2493b;
	background-color: #e2493b;
	margin-left: -1px;
}
.btn3:hover {
	border: 1px solid #ea5c4f;
	background-color: #ea5c4f;
}
.full03 {
	border-bottom: 1px solid #e0e0e0;
}
.full03 h3 {
	width: 100%;
	float: left;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}
.product .txt, .about .txt {
	width: 1000px;
	float: left;
	overflow: hidden;
}
.product .txt ul, .about .txt ul {
	width: 1600px;
}
.product ul, .product li, .about ul, .about li {
	float: left;
}
.product li {
	margin: 13px 51px 32px 0px;
}
.product li span {
	display: block;
	font-size: 30px;
	line-height: 46px;
	padding-left: 67px;
}
.product .icon1 span {
	background-position: 0px -222px;
}
.product .icon1 .onhover {
	background-position: 0px -342px;
}
.product .icon2 span {
	background-position: -189px -222px;
}
.product .icon2 .onhover {
	background-position: -189px -342px;
}
.product .icon3 span {
	background-position: -432px -222px;
}
.product .icon3 .onhover {
	background-position: -432px -342px;
}
.product .icon4 span {
	background-position: -627px -222px;
}
.product .icon4 .onhover {
	background-position: -627px -342px;
}
.product .icon5 span {
	background-position: -873px -222px;
}
.product .icon5 .onhover {
	background-position: -873px -342px;
}
.product li font {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	padding: 9px 0px;
}
.about .txt {
	padding: 38px 0px 63px 0px;
}
.about li {
	padding-left: 70px;
	margin-right: 142px;
}
.about .icon1 {
	background-position: 0px -454px;
}
.about .icon2 {
	background-position: -386px -454px;
}
.about .icon3 {
	background-position: -719px -454px;
}
.about li h3 {
	font-size: 18px;
	line-height: 30px;
}
.about li span {
	display: block;
	line-height: 26px;
}
.about li span a {
	color: #666666;
	font-size: 14px;
	margin-right: 14px;
}
.about li span .mr0
{
margin-right: 0px;	
}
.about li span a:hover {
	color: #F43C5E;
}
.footBox {
	width: 100%;
	height: 149px;
	background: url(../../images/questionBank/footbg.jpg) repeat-x;
}
.footBox .box1000 ul {
	/*width: 560px;
	float: left;
	text-align: center;
	line-height: 22px;
	padding: 36px 220px 5px 220px;*/
	width: 639px;
	margin:0 auto 20px;
	text-align: center;
	line-height: 22px;
	padding-top: 36px;
}
.footBox .box1000 li {
	width: 58px;
	height: 13px;
	line-height: 13px;
	padding: 0px 10px;
	float: left;
	border-right: 2px solid #8a8a8a;
}
.footBox .box1000 li a {
	display: block;
	width: 58px;
	height: 13px;
	line-height: 13px;
}
.footBox .box1000 p {
	clear: both;
	width: 1000px;
	color: #333333;
	float: left;
	margin: 5px auto;
	text-align: center;
	line-height: 30px;
}
.footBox .box1000 ul .noborr {
	border-right: 0px;
}
.footBox .box1000 ul a {
	font-size: 14px;
}
/*banner*/
.banner {
	overflow: hidden;
	position: relative;
}
.banner, .banner>ul, .banner>ul li, .banner .bg {
	width: 100%;
	height: 423px;
}
.banner ul, .banner ul li, .banner div {
	float: left;
}
.banner .slide1 .bg {
	background: url(../../images/questionBank/index/banner1.jpg) no-repeat center top;
}
.banner .slide2 .bg {
	background: url(../../images/questionBank/index/banner2.jpg) no-repeat center top;
}
.banner .slide3 .bg {
	background: url(../../images/questionBank/index/banner3.jpg) no-repeat center top;
}
.banner .slide4 .bg {
	background: url(../../images/questionBank/index/banner4.jpg) no-repeat center top;
}
.banner .slide5 .bg {
	background: url(../../images/questionBank/index/banner5.jpg) no-repeat center top;
}
.banner .slide6 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner6.jpg) no-repeat center top;
}
.banner .slide7 .bg {
	background: url(../../images/questionBank/index/banner7.jpg) no-repeat center top;
}
.banner .slide8 .bg {
	background: url(../../images/questionBank/index/banner8.jpg) no-repeat center top;
}
.banner .slide9 .bg {
	background: url(../../images/questionBank/index/banner9.jpg) no-repeat center top;
}
.banner .slide10 .bg {
	background: url(../../images/questionBank/index/banner10.jpg) no-repeat center top;
}
.banner .slide11 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner11.jpg) no-repeat center top;
}
.banner .slide12 .bg {
	background: url(../../images/questionBank/index/banner12.jpg) no-repeat center top;
}
.banner .slide13 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner13.jpg) no-repeat center top;
}
.banner .slide14 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner14.jpg) no-repeat center top;
}
.banner .slide15 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner15.jpg) no-repeat center top;
}
.banner .slide16 .bg {
	background: url(http://yitikuimage.oss-cn-qingdao.aliyuncs.com/resource/banner16.jpg) no-repeat center top;
}
.banner .slide17 .bg {
	background: url(../../images/questionBank/index/banner17.jpg) no-repeat center top;
}
.banner .slide18 .bg {
	background: url(../../images/questionBank/index/banner18.png?20150518) no-repeat center top;
}
.banner .slide19 .bg {
	background: url(../../images/questionBank/index/banner19.png?20150619) no-repeat center top;
}
.banner .slideMingtidasai .bg {
	background: url(../../images/questionBank/index/teacher_mingtidasai.png) no-repeat center top;
}
.banner .slide2015zkhx .bg {
	background: url(../../images/questionBank/index/2015zkhx.png) no-repeat center top;
}
.banner .slide2015gkzt .bg {
	background: url(../../images/questionBank/index/2015gkzt.png) no-repeat center top;
}
.banner .slidemeizuchoujiang .bg {
	background: url(../../images/questionBank/index/slidemeizuchoujiang.png) no-repeat center top;
}
.banner .slide_2015zkzt_index_focus .bg {
	background: url(../../images/questionBank/index/2015zkzt_index_focus.png) no-repeat center top;
}
.banner>ul li {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
.banner .txt {
	width: 100%;
	position: absolute;
	z-index: 2;
}
.banner .txt span {
	width: 1000px;
	display: block;
	margin: 0px auto;
}
.number {
	padding: 8px 0 9px 0;
	width: 220px;
	margin-left: -67px;
	text-align: center;
	position: absolute;
	bottom:-2px;
	left: 50%;
	z-index: 10;
}
.number a {
	float: left;
	width: 14px;
	height: 14px;
	display: block;
	margin: 0 10px 0 0;
	text-indent: -9999em;
	overflow: hidden;
	outline: none;
	background-position: -224px 0px;
}
.number a:moz-focus-inner {
border:0;
}
.number a:hover, .number .this {
	background-position: -200px 0px;
}
.full01 .fr .loginAfter ul {
	float: left;
	border-top: 3px solid #f43c5e;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px #AAAAAA;
}
.userLoginBox {
	width: 316px;
	height: 334px;
	left: 50%;
	margin-left: 194px;
	position: absolute;
	z-index: 500;
	top: 51px;
	background: url(../../images/questionBank/index/loginbg.png) no-repeat -1px 0px;
}
.loginbg1 {
	height: 374px;
	top: 26px;
	background: url(../../images/questionBank/index/loginbg1.png) no-repeat -4px 0px;
}
.userLoginBox .error {
	display: none;
}
.loginbg1 .error {
	display: block;
}
.loginTxt {
	height: 284px;
	top: 36px;
	background: url(../../images/questionBank/index/loginbg2.png) no-repeat -2px 0px;
}
.userLoginBox li {
	padding-bottom: 18px;
}
.userLoginBox h3 {
	font-size: 18px;
	line-height: 56px;
	padding: 12px 0px 0px 37px;
}
.userLoginBox ul {
	padding-left: 37px;
}
.userLoginBox ul, .userLoginBox li {
	width: 260px;
	float: left;
}
.inputBox .name, .inputBox .password {
	width: 200px;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px #e7e7e7;
	height: 36px;
	border: 0px;
	padding-left: 36px;
	/*line-height: 36px;*/
}
.inputBox .name {
	font-size: 14px;
	color: #929292;
	background-color: #FFFFFF;
	background-position: -975px 10px;
	height: 16px;
	padding:10px 0 10px 35px;
}
.inputBox .password {
	font-size: 14px;
	color: #929292;
	background-color: #FFFFFF;
	background-position: -975px -47px;
	height: 16px;
	padding:10px 2px 10px 34px;
}
.userLoginBox .fl {
	color: #f43c5e;
	font-size: 14px;
}
.userLoginBox .fr {
	color: #333;
	font-size: 14px;
	margin-right: 22px;
}
.userLoginBox a:hover {
	text-decoration: underline;
}
.userLoginBox label, .userLoginBox label span, .userLoginBox label input {
	display: block;
	float: left;
}
.userLoginBox li label span {
	font-size: 14px;
}
.userLoginBox li label input {
	margin-top: 4px;
	margin-top: 1px\9;
}
.userLoginBox .error {
	width: 196px;
	padding-left: 38px;
	line-height: 36px;
	color: #f43c5e;
	display: none;
	margin-bottom: 16px;
	background-color: #ffe8e8;
	border: 1px solid #ffc2c2;
	margin-left: 37px;
	background-position: -965px -100px;
}
.loginbg1 .error {
	display: block;
}
.loginTxt h4 {
	width: 238px;
	line-height: 24px;
	padding: 28px 0px 12px 0px;
	font-size: 14px;
	margin-left: 37px;
	font-weight: normal;
	margin-bottom: 20px;
	border-bottom: 1px solid #adadad;
}
.loginTxt li {
	padding-bottom: 16px;
}
.loginTxt h4 a {
	color: #f43c5e;
	font-size: 18px;
}
.loginTxt .col333 a {
	font-size: 14px;
}
.loginTxt .col333 a:hover {
	text-decoration: none;
}
.loginTxt .col333 .join 
{
color:#1887E3;
margin-left:40px;	
}
.loginTxt .col333 .join:hover
{
color: #f43c5e;
}
/*首页引导*/
.guideStep {
	position: relative;
}
.guideBox {
	display: none;
}
/* tipbar */
.tipbox, .tipword, .progress li, .tipbar .arrow, .tipBarword, .tipboxNextbtn, .tipboxBtn {
	background: url(../../images/guide/guide.png) no-repeat;
}
.tipbox {
	width: 343px;
	position: absolute;
	height: 206px;
	background-position: 0 0;
	z-index: 3005;
	visibility: visible;
	display: block;
}
.tipbox .tipboxBtn {
	position: absolute;
	display: inline-block;
	width: 80px;
	height: 30px;
	left: 167px;
	top: 120px;
	cursor: pointer;
	background-position: -443px 0px;
}
.tipboxNextbtn {
	position: absolute;
	display: inline-block;
	width: 80px;
	height: 30px;
	left: 77px;
	top: 120px;
	cursor: pointer;
	background-position: -353px 0px;
}
.progress {
	position: absolute;
	left: 110px;
	top: 60px;
	width: 30px;
	height: 9px;
	line-height: 9px;
	font-size: 0px;
}
.progress li {
	float: left;
	width: 9px;
	height: 9px;
	margin-right: 6px;
	font-size: 0px;
	background-position: -990px -10px;
}
.progress .on {
	background-position: -973px -10px;
}
.progress1 {
	left: 80px;
	width: 90px;
}
.tipword {
	position: absolute;
	height: 18px;
	top: 92px;
}
.tipBarword {
	position: absolute;
}
.tipbar {
	position: absolute;
	z-index: 3005;
	background: url(../../images/guide/stepflow-pic.png) no-repeat;
}
#step61 {
	left: 240px;
	top: -269px;
	*top:-259px;
}
#step62 {
	left: 20px;
	top: -320px;
	*top:-310px;
}
#step63 {
	left: 188px;
	top: -320px;
	*top:-310px;
}
#step64 {
	left: 347px;
	top: -320px;
	*top:-310px;
}
#step65 {
	left: 518px;
	top: -320px;
	*top:-310px;
}
#step66 {
	left: 676px;
	top: -320px;
	*top:-310px;
}
#step61 .tipword {
	width: 200px;
	left: 88px;
	background-position: -343px -600px;
}
#step62 .tipword {
	width: 200px;
	left: 66px;
	background-position: -700px -600px;
}
#step63 .tipword {
	width: 200px;
	left: 60px;
	background-position: 0px -648px;
}
#step64 .tipword {
	width: 260px;
	left: 25px;
	background-position: -343px -648px;
}
#step65 .tipword {
	width: 200px;
	left: 60px;
	background-position: -700px -787px;
}
#step66 .tipword {
	width: 200px;
	left: 60px;
	background-position: -700px -648px;
}
#tipbar61 {
	background-position: -740px -2809px;
	width: 204px;
	height: 74px;
	left: 588px;
	top: -157px;
	
}
#tipbar62 {
	background-position: -96px -5248px;
    height: 182px;
    left: 120px;
    top: -489px;
    width: 120px;
    *top:-479px;
}
#tipbar63 {
	background-position: -340px -5248px;
    height: 182px;
    left: 295px;
    top: -489px;
    width: 127px;
    *top:-479px;
}
#tipbar64 {
	background-position: -742px -2417px;
	width: 84px;
	height: 171px;
	top: -489px;
	left: 464px;
	*top:-479px;
}
#tipbar65 {
	background-position: -634px -2809px;
	width: 83px;
	height: 169px;
	top: -489px;
	left: 625px;
	*top:-479px;
}
#tipbar66 {
	background-position: -925px -2626px;
	width: 71px;
	height: 171px;
	top: -489px;
	left: 790px;
	*top:-479px;
}
.subjectNav02 div{width:142px;left:55px;}
.topNav .subjectNav02 div ul {width:100%;}
.topNav .subjectNav02 div ul li{background-color:#eeeeee;font-size:14px;color:#666666;padding:0px;}
.topNav .subjectNav02 div ul li a{width:71px;}
.topNav .subjectNav02 div ul li.currt a{background-color:#FFFFFF;color:#F43C5E;}
.topNav .subjectNav02 div ul.leibie{margin-bottom: 8px;margin-top: 5px;margin-left: 1px;}
.topNav .subjectNav02 div ul.leibie li{background-color:#FFFFFF;color:#F43C5E; padding:0px 0px 0px 14px;}
.topNav .subjectNav02 div ul.leibie li a{display: inline-block;line-height: 27px;width: auto;}
.topNav .subjectNav02 div ul.leibie li a:hover{line-height: 27px; width:auto;color:#F43C5E;background:none;}

.topNav .subjectNav02 .middleschool{display:none;}
/*谷歌浏览器判断*/
.fullChrome{height: 35px;background-color: #f5fbfe;display: none;}
.chromeTips{height: 35px;line-height: 35px;position: relative;overflow: hidden;}
.chromeTips .tips{
	float: left;
	display: block;
	font-size: 12px;
	color: #666;
	background: url('../../images/ytkgb/about.png') 0 10px no-repeat;
	height: 35px;
	line-height: 35px;
	padding-left:20px;
}
.chromeTips .tips .downLoadBtn{
	margin-left: 20px;
	border:1px solid #dedede;
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 21px;
	text-align: center;
	color: #666;
}
.chromeTips .tips .downLoadBtn:hover{color: #666;}
.closeTips{
	display: block;
	height: 35px;
	line-height: 35px;
}
.closeTips img{display: inline;margin-top: 10px;}
/*2015-01-14学习卡激活*/
.LCard{
	width: 220px;
	margin:0 auto;
   padding:60px 0px;
}

.LCard p{
	font-size: 14px;
	line-height: 28px;
	text-align: left;
	margin: 0 auto;
}
.LCard p a{
	color:#1887e3;
	
	font-size: 14px;
}
.w170{width: 170px;}
/*登陆验证码20150326更新*/
.userLoginBox h3{line-height: 50px;padding-top: 5px;}
.userLoginBox{
	background: url(../../images/questionBank/index/loginbg_y.png) no-repeat;
	height: 361px;
	top: 30px;
}
.inputBox .password{width: 105px;}
.userLoginBox li{
	padding-bottom: 11px;
	position: relative;
}
.hqlsmm{
	position: absolute;
	right: 24px;
	width:90px;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background:#f43c5e;
	cursor: pointer;
}
.hqlsmm a{color: #fff;}
.hqlsmm a:hover{text-decoration: none;}
.userLoginBox li.mt10{margin-top: 10px;}
.userLoginBox li .quick_login{font-size: 14px;color: #333;margin-right: 14px;vertical-align: middle;}
.userLoginBox .confirm{
	width: 95px;
	height: 15px;
	box-shadow: 0 0 5px #e7e7e7;
	font-size: 14px;
	vertical-align: middle;
	margin-right: 5px;
	padding: 10px 0 10px 10px;
	 color: #929292;
	 border:none;
}
.userLoginBox a img{vertical-align: middle;margin-right: 7px;}
.userLoginBox .toChange{
	color: #1887e3;
	font-size: 14px;
}
.loginbg1{
	background: url(../../images/questionBank/index/loginbg1_y.png) no-repeat;
	top:20px;
	height: 381px;
}
.loginTxt {
	height: 284px;
	top: 72px;
	background: url(../../images/questionBank/index/loginbg2.png) no-repeat -2px 0px;
}
/*底部加新浪*/
.footBox .box1000 ul li .sina_icon a{
	position: absolute;
	display: block;
	margin-left: 70px;
	margin-top: -13px;
	width: 17px;
	height: 14px;
	background: url(../../images/sina_grey.png) no-repeat;
}
.footBox .box1000 ul li .sina_icon a:hover{
	background: url(../../images/sina.png) no-repeat;
}
/*时间轴*/
.time_line{
	height: 62px;
	width: 1020px;
	background: url(../../images/questionBank/index/time_line.png?20150626) no-repeat;
	margin: 20px auto 0;
	position: relative;
}
.time_line>ul>li{
	float: left;
	text-align: center;
	padding: 9px 15px;
	width: 32px;
	font-size: 16px;
	color: #fff;
	margin-left: 112px;
	position: relative;
}
.time_line>ul>li.seth{
	margin-left: 129px;
	color: #747474;
}
.time_line>ul>li.fou{
	margin-left: 180px;
}
.time_line>ul>li.last{
	margin-left: 140px;
}
.cls_btn{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 2px;
	right: 0;
}
.zhezhao_blue{
	position: absolute;
	width: 364px;
	height: 5px;
	background: #1887e3;
	top:29px;
	left: 0;
}
.seth a{
	display: block;
	width: 32px;
	height: 44px;
	background: url(../../images/questionBank/index/circle.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 16px;
	padding: 9px 15px;
}
/*20161116 选择科目当前不符弹出补丁*/
.mbquesTxt li {
    margin: 5px 10px;
}
.mbquesTxt, .mbquesTxt ul, .mbquesTxt li {
    float: left;
}
.mbquesTxt .btn {
	display: block;
	float: left;
	text-align: center;
	border: 0px;
	color: #fff;
	cursor: pointer;
	text-indent:0;
	width:auto;
}
.mbquesTxt .btn:hover {
	color: #fff;
	text-decoration: none;
}
.mbquesTxt .btn2, .mbquesTxt .btn4{
	padding: 0px 14px;
	height: 32px;
	line-height: 30px;
	font-size: 14px;
	background-color: #f43c5e;
    border: 1px solid #da2c4d;
}
.mbquesTxt .btn4{
    background-color: #1887e3;
    border: 1px solid #157cd1;
}
