/*弹窗 公共*/
.popupmsg {
  width: 600px;
  background: #fff;
  font-size: 14px;
  color: #666;
}
.popup-head {
  height: 40px;
  background: #4498ee;
  overflow: hidden;
}
.popup-head p {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
}
.popup-head .popup-tit {
  float: left;
  text-indent: 20px;
}
.popup-close {
  float: right;
  padding: 0px 12px;
  cursor: pointer;
  *padding-top: 10px;
  *height: 40px;
}
.popup-close > i {
  position: relative;
  top: -1px;
  *top: 0px;
}
.popup-close:hover {
  background: #208d4e;
}
.popup-con {
  padding: 0 20px;
}
.popup-foot {
  padding: 20px 0px;
  text-align: center;
  clear: both;
}
button.confirm,
button.cancel {
  height: 30px;
  padding: 0px 15px;
  *padding: 0 7px;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  border: none;
  border-radius: 5px;
}
.confirm {
  background: #4498ee;
  color: #fff;
}
.cancel {
  margin-left: 10px;
  background: #dfdfdf;
  color: #333;
}
.confirm:hover {
  background: #229955;
}
.cancel:hover {
  background: #b9b9b9;
}
/*弹窗下拉菜单公共样式*/
.menu {
  position: relative;
  float: left;
  padding: 3px 5px;
  height: 20px;
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #dcdcdc;
  *z-index: 3;
}
.menu > i {
  float: right;
  position: relative;
  top: 7px;
  *top: -11px;
  cursor: pointer;
}
.menu ul {
  display: none;
  position: absolute;
  left: -1px;
  top: 27px;
  padding: 3px 5px;
  border: 1px solid #dcdcdc;
  background: #fff;
  border-top: none;
  z-index: 999;
}
.menu li {
  line-height: 24px;
  padding: 3px 0px;
}
.menu li a:hover {
  color: #19b478;
}
/*纠错*/
.error-con {
  padding: 0 19px;
}
.error-con p {
  margin: 20px 0 20px -5px;
  font-size: 12px;
  color: #333;
}
.error-con textarea {
  width: 100%;
  height: 120px;
  padding: 5px;
  margin-left: -5px;
  font-size: 14px;
  color: #333;
  border: 1px solid #eaeaea;
  margin-bottom: 18px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.error-con .warn {
  display: none;
  color: red;
}
/*分数设置*/
.score-setting {
  padding: 20px 0px;
  overflow: hidden;
  border-bottom: 1px dashed #dcdcdc;
}
.score-setting p {
  line-height: 25px;
  *line-height: 30px;
  float: left;
}
.score-setting p:last-child {
  font-size: 12px;
}
.score-setting span {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px;
}
.score-setting strong {
  font-size: 12px;
  color: #eb5e00;
  display: inline-block;
}
.score-setting input {
  width: 38px;
  padding: 5px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  *vertical-align: middle;
}
.score-num {
  padding: 20px 0px;
  border-bottom: 1px solid #dcdcdc;
}
.score-num ul {
  overflow: hidden;
}
.score-num ul li {
  float: left;
  width: 33.3%;
  margin-bottom: 20px;
}
.score-num ul li label {
  width: 60px;
  line-height: 25px;
  display: inline-block;
  text-align: right;
}
.score-num ul li input {
  width: 80px;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  *vertical-align: middle;
}
/*试题转移*/
.transfer-con {
  font-family: "微软雅黑";
  margin-left: 18px;
}
.transfer-title {
  padding-top: 20px;
  line-height: 20px;
}
.transfer-num {
  padding: 15px 0px 0px;
  *padding-bottom: 20px;
}
.transfer-num ul {
  overflow: hidden;
}
.transfer-num ul li {
  float: left;
  width: 33%;
  margin-bottom: 20px;
  cursor: pointer;
}
.transfer-num ul li i {
  margin-top: -2px;
  margin-right: 5px;
}
.transfer-num ul li label {
  line-height: 20px;
  cursor: pointer;
}
/*试卷共享*/
.share-title {
  padding-top: 25px;
  line-height: 25px;
}
.share-title input {
  width: 459px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  *vertical-align: middle;
}
.share-title label {
  line-height: 25px;
}
.share-parameter {
  margin-top: 20px;
}
.share-parameter > ul > li {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
.share-parameter > ul > li:nth-child(2n) > .share-line {
  margin-left: 25px;
}
.share-line label {
  float: left;
  line-height: 22px;
}
/*答题卡*/
.sheet-line {
  background-color: #fff;
  width: 254px;
}
.answersheet-con {
  padding: 20px;
  padding-left: 90px;
}
.answersheet-con .menu {
  cursor: pointer;
  float: right;
}
.sheet-list li:hover {
  background-color: #dcdcdc;
}
.sheet-line label {
  float: left;
  line-height: 22px;
}
.sheet {
  padding-top: 20px;
}
.sheet img {
  border: 1px solid #dcdcdc;
}


/*下载Word试卷*/
.download-msg {
  padding: 0 10px 10px 10px ;
  color: #666;
  line-height: 28px; 
  font-family: "微软雅黑", "宋体"
}
.download-msg .radiobox {
  cursor: pointer;
}
.download-size,
.download-type,
.download-hint {
  padding-bottom: 13px;
  border-bottom: 1px dashed #dcdcdc;
  overflow: hidden;
  zoom: 1;
}
.download-type span:hover{
    cursor: pointer;
    color: #17b55b;
}
.download-bd { margin-left: 10px; }
.download-text {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 13px 0 6px 0;
}
.size-a4, .size-a3 {
  float: left;
}
.size-con > div { margin-right: 25px; }
.size-con i {
  vertical-align: top;
}
.size-con { margin-right: -40px; zoom:1;}
.size-con p {
  margin-left: 16px;
  margin-top: 7px;
  text-align: center;
}
.hint-msg .hint-text a { color: #4498ee; }
.hint-msg .hint-text a:hover { text-decoration: underline; }
.download-type-con > div, .download-type-content > div{
  float: left; 
}
.download-type-content div{
    margin-right: 30px;
}
.download-type-con div:first-child {
  margin-right: 20px;
}
.download-type-con i {
  position: relative;
  top: -1px;
  *top: 0px;
}

.download-hint .download-bd { 
  font-size: 14px;
  color: #333;
}
.download-hint b { font-weight: normal; }
.download-hint .hint-con .highlight {
  color: #ff1c1c;
}
.download-hint .hint-con .strong { 
  font-weight: bold;
}
.download-hint .hint-con .lowlight {
  color:#999;
}
.download-hint .hint-con .small {
  font-size: 12px;
}
.download-hint .hint-con a { color: #4498ee; }
.download-hint .hint-con a:hover { text-decoration: underline; }

.recharge-btn-box { text-align: center; padding-top: 10px; }
.recharge-btn { background: #4498ee; color:#fff; padding:6px 0; font-size: 14px; border-radius: 4px; border: 0; width: 100px; text-align: center;}

.download-beizu { font-size: 12px; color:#333; }
.download-beizu a { color: #4498ee; }
.download-beizu a:hover {text-decoration: underline}



/*提示*/
.prompt-con > p {
  margin: 30px 20px;
  line-height: 20px;
}
.prompt-con > div {
  text-align: center;
  margin-bottom: 20px;
}
.prompt-con > div > button,
.prompt-con > div > .btn {
  margin: 0px 30px 20px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #4498ee;
  display: inline-block;
  font-size: 14px;
}
.prompt-con > div > button:hover,
.prompt-con > div > .btn:hover {
  background: #019E44;
}
/*保存模板*/
.template-title {
  padding-top: 25px;
  line-height: 25px;
}
.template-title input {
  width: 450px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  *vertical-align: middle;
}
/*添加新题型*/
.newtype-con > div {
  margin-top: 18px;
  line-height: 25px;
}
.newtype-con > div > input {
  width: 200px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  *vertical-align: middle;
}
.newtype-line {
  *overflow: hidden;
}
.newtype-line:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}
.newtype-line label {
  float: left;
  line-height: 25px;
}
/* 自定义题型 */
.add-type-con {
  padding: 20px 40px;
}
.add-type-con p {
  font-size: 12px;
  font-family: "微软雅黑";
  margin-left: -6px;
  position: relative;
}
.add-type-con input {
  width: 100%;
  margin-top: 10px;
  height: 18px;
  padding: 6px;
  margin-left: -6px;
  border: 1px solid #ccc;
}
.add-type-con p .error-msg {
  position: absolute;
  right: 0;
  top: 0;
  color: #FD5858;
}
/*添加新试题 --章节-- 知识点-- 修改试题*/
.addtestnum-line {
  padding: 20px 0px;
  position: relative;
  zoom: 1;
  line-height: 25px;
  border-bottom: 1px dashed #dcdcdc;
}
.addtestnum-line:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}
.addtestnum-line > label,
.addtest-line > label {
  float: left;
  width: 100px;
  text-align: right;
}
.addtest-line {
  padding: 20px 0px 5px;
  line-height: 25px;
  border-bottom: 1px dashed #dcdcdc;
  overflow: hidden;
}
.addtest-items {
  overflow: hidden;
  padding-left: 15px;
}
.addtest-items ul {
  *overflow: hidden;
  margin-left: -30px;
}
.addtest-items ul li {
  float: left;
  padding-bottom: 15px;
  margin-left: 30px;
}
.addtest-items ul li p {
  line-height: 25px;
}
.addtest-items ul li p input[type='text'] {
  width: 40px;
  padding: 5px;
  margin: 0 5px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
  *vertical-align: middle;
}
.addtest-items > p {
  padding-bottom: 15px;
}
.addtest-items > p > span {
  margin-left: 18px;
}
.addtest-items > p > span > i {
  position: relative;
  top: -1px;
  *top: 0px;
}
.addnewthing {
  padding-bottom: 20px;
}
.newthing-title {
  margin: 18px 0px 15px;
  line-height: 25px;
}
.newthing-title > label {
  width: 100px;
  text-align: right;
  float: left;
}
.newthing-title > p {
  overflow: hidden;
  padding-left: 15px;
}
.newthing-title > p > label {
  margin-right: 27px;
}
.newthing-title > p > label > span > i {
  position: relative;
  top: -1px;
  *top: 1px;
}
.newthing-tab {
  width: 531px;
  border-left: 1px solid #dcdcdc;
}
.tab-nav {
  overflow: hidden;
}
.tab-nav a {
  display: block;
  float: left;
  width: 58px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background: #f0f0f0;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-left: none;
  position: relative;
  z-index: 1;
}
.tab-nav a:hover,
.tab-nav .tab-active {
  background: #fff;
  color: #019e44;
  border-bottom: 1px solid #fff;
}
.tab-con {
  min-height: 150px;
  height: auto;
  border: 1px solid #dcdcdc;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  z-index: 0;
}
.tab-section {
  margin-top: 17px;
  line-height: 25px;
}
.tab-section:after {
  content: '';
  display: block;
  clear: both;
}
.tab-section > a {
  color: #019e44;
  margin-left: 15px;
}
.tab-section > a:hover {
  text-decoration: underline;
}
.tab-know {
  margin: 17px 0px;
  overflow: hidden;
}
.know-item {
  float: left;
  margin-left: 30px;
  margin-bottom: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background: #f1f1f1;
  position: relative;
  white-space: nowrap;
  /*解决ie下浮动不自动换行*/
  *z-index: 0;
  overflow: hidden;
  *overflow: ;
}
.know-text {
  padding-left: 8px;
  padding-right: 25px;
  line-height: 20px;
  font-size: 12px;
}
.know-close {
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
.know-close > i {
  margin-top: 1px;
  *margin-top: 0px;
}
.know-close:hover {
  background: #ff1c1c;
}
.footline {
  border-top: 1px solid #dcdcdc;
}
/*下拉菜单宽度*/
.share-section,
.share-list {
  width: 155px;
}
.share-section > i {
  top: 7px;
}
.sheet-section,
.sheet-list {
  width: 130px;
}
.nwetype-section,
.newtype-list {
  width: 120px;
}
.addtestnum-section,
.addtestnum-list {
  width: 50px;
}
.tab-line,
.tab-list {
  width: 90px;
  font-size: 12px;
}
/*验证邮箱*/
.email-con {
  padding-bottom: 40px;
  text-align: center;
}
.email-con > h1 {
  padding-top: 50px;
  line-height: 20px;
  font-size: 18px;
  color: #333;
  font-weight: normal;
}
.email-con > p {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
  line-height: 20px;
}
.email-con > p > a {
  color: #019e44;
}
.email-con > p > a:hover {
  text-decoration: underline;
}
/*收藏*/
.collect-con {
  padding: 70px 0px;
  text-align: center;
}
.collect-con > h1 {
  line-height: 20px;
  font-size: 14px;
  color: #333;
  font-weight: normal;
}
/*绑定邮箱成功*/
.success {
  min-height: 250px;
  margin: 10px auto;
  background: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.success .success-txt1 {
  margin-top: 60px;
  font-size: 24px;
  color: #4498ee;
  font-weight: bold;
}
.success .success-txt1 i {
  margin-right: 20px;
}
.success .success-txt2 {
  margin-top: 25px;
  font-size: 12px;
  color: #333;
}
.success .success-txt2 span {
  color: #ff1c1c;
}
/* 试卷编辑 分数设置弹窗 */
.q-score-con {
  padding: 5px 20px;
}
.q-score-con li {
  margin: 10px 0;
  position: relative;
  border-bottom: 1px dashed #dcdcdc;
  padding-bottom: 10px;
  clear: both;
  zoom: 1;
  overflow: hidden;
}
.q-score-con li label {
  float: left;
  line-height: 26px;
  height: 26px;
}
.q-score-con li input {
  height: 18px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  width: 36px;
  margin-left: 5px;
  vertical-align: middle;
  text-align: center;
}
.q-score-con li b { font-weight: normal; }
.q-score-con li div span {
  display: inline;
  float: left;
  margin: 5px;
  color: #666;
}
.q-score-con form > p {
  margin-top: 32px;
}
.q-score-con form > p label {
  line-height: 22px;
  height: 22px;
  float: left;
}
.q-score-con form > p input {
  height: 18px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  width: 36px; 
  text-align: center;
}

.q-scorelist-con { line-height: 24px; padding: 20px; color: #333; font-size: 12px; }
.q-scorelist-con li { margin-bottom: 10px; }
.q-scorelist-con li input { border: 1px solid #dcdcdc; padding: 3px 5px; height: 18px; text-align: center; width: 36px; }
.q-scorelist-con li > em { float: left; min-width: 60px; text-align: right; margin-right: 10px; font-weight: normal; }
.q-scorelist-con li span.words { color:#999;}
.q-scorelist-con li.sum { font-size: 14px; }
.q-scorelist-con li.sum strong { font-weight: normal; }
/* 试卷分析 */
.paper-analysis-fixed {
  max-height: 620px;
  overflow: auto;
}
.paper-analysis {
    font-size: 14px;
    margin: 10px 20px;
}

.analysis-tit {
    border-bottom: 1px solid #dcdcdc;
    font-size: 14px;
    font-weight: normal;
    color: #20c212;
    margin-bottom: 15px;
}
.analysis-chart { position: relative;  zoom:1;}

.analysis-tit> span {
    display: block;
    width: 130px;
    height: 24px;
    line-height: 24px;
    border-bottom: 3px solid #20c212;
    padding-left: 5px;
}

.analysis-table {
    line-height: 30px;
    width: 100%;
}

.analysis-table th,
.analysis-table td {
    border: 1px solid #dcdcdc;
    text-align: center;
}

.analysis-table thead th {
    background-color: #ddeedf;
    font-weight: bold;
}

.analysis-block {
    margin-bottom: 30px;
}

.analysis-cell {
    width: 49.8%;
}

.analysis-cell .analysis-block {
    margin-left: 15px;
}

.paper-analysis .analysis-cell:first-child .analysis-block {
    margin-left: 0;
    margin-right: 15px;
}
