input[type=submit],
input[type=reset],
input[type=button]{
filter:chroma(color=#000000);
-webkit-appearance: none;
border-radius: 0;
}
input[type=text],input[type=password]{
	-webkit-appearance: none;
	border-radius: 0;
}
.product .txt{ margin-top: 47px;}
/* .product .icon1 span{background-position:76px 0px ;margin-left:-10px;}
.product .icon1 .onhover{background-position:76px -206px;}
.product .sts li {width:265px; margin: 13px 88px 32px 10px;}
.product .icon2 span{background-position:-146px 0px ;}
.product .icon2 .onhover{background-position:-146px -207px;}
.product .icon3 span{background-position:-364px 0px ;}
.product .icon3 .onhover{background-position:-364px -207px;} */

.product li span {	display: block; font-size: 24px;line-height: 66px; padding-left: 0px;padding-top: 0px; text-align: center;}
.product li span  a{height:120px;width:120px;display:inline-block;}
.product li span  p{font-size:24px;}
.product li font {width:297px;}
.product li font a{padding:0 5px 0 10px;font-size:14px;}
.product .sts li span {background:url("../../images/ytkgb/ytkgb.png") no-repeat;}
.product .icon1 font {margin-left: -20px;}
.product .icon3  font {width:285px;margin-left: -13px;}
.product li .line {background:#999;width:50px;height:2px; margin:0px auto;text-align:center;}
.about li{margin-right:113px;}

/*teacherNav*/
.full03{
    line-height: 113px;
	height:113px;
    text-align: center;
    width: 100%;
	background:url("../../images/ytkgb/ytkgb.png") 0px -423px repeat-x;
	border:none;}
.box1000 h3{font-size:32px;color:#333; line-height: 113px;}

.fullgrey{background:#eeeeee;}
.content{padding:64px 0;}
.box1000 .left{float:left;}
.box1000 .right{float:right;width:300px;}

.fullgrey .box1000 .right{margin-top:116px;}
.fullgrey .box1000 .right .txt{float:right;margin-left:24px;margin-top: 10px;}
.fullgrey .box1000 .right .txt h4{font-size:30px;color:#333;line-height: 50px;}
.fullgrey .box1000 .right .txt p{font-size:18px;color:#666;line-height: 36px;}

.fullwhite{background:#FFF;}

.fullwhite .box1000 .left{margin-top:116px;}
.fullwhite .box1000 .left .txt{float:right;margin-left:24px;margin-top: 10px;}
.fullwhite .box1000 .left .txt h4{font-size:30px;color:#333;line-height: 50px;}
.fullwhite .box1000 .left .txt p{font-size:18px;color:#666;line-height: 36px;}

#tstep1, #tstep2, #tstep3, #tstep4{font-size:48px;color:#1887e3;float:left;}
/********nav****/
.subjectNav02 div{width:142px;left:55px;}


/*改版11-10*/
.lastestsj{margin-top:21px;height:265px;margin-bottom: 20px;*padding-top: 21px;}
.lastest .bt{vertical-align:bottom;}
.lastest .left {width:665px;}
.lastest .left strong, .indexLinks strong{font-size:18px;color:#333;float:left; font-weight:normal;}
/*.lastest .left font {float:right;padding-top:8px;}*/
.lastest .left font a{font-size:10px;color:#1887e3;}
.lastest .left font a:hover{color:#f43c5e;}
.lastest .right img{padding-top:35px;}
.ytkcz{height:265px;margin-bottom: 37px;}
.gaozhongNav, .chuzhongNav{width: auto;}
.gaozhongNav li, .chuzhongNav li{float:left;width: 45px;text-align: left;color: #1887e3;font-size: 14px;cursor: pointer;height: 30px;}
.gaozhongNav li.currt, .chuzhongNav li.currt, .gaozhongNav li:hover, .chuzhongNav li:hover{color: #f43c5e;}
.gaozhongNav .subNewShijuan, .chuzhongNav .subNewShijuan{width:21px;height:12px;vertical-align: top; margin: -25px 0px 0px 24px;background:url(../../images/ytkgb/new.png) no-repeat;display:block;}
.shijuangaozhong ul li, .shijuanchuzhong ul li {height:24px;line-height:24px;margin-bottom:5px;overflow:hidden;*margin-bottom:1px;}
.shijuangaozhong ul li a, .shijuanchuzhong ul li a{font-size:14px;color:#333;overflow:hidden;white-space:nowrap;}
.shijuangaozhong ul li .shijuan, .shijuanchuzhong ul li .shijuan{float:left;width:515px;text-overflow:ellipsis;}/* width:530px; 2015年11月24日 zyp 括号隐藏修改 */
.shijuangaozhong ul li .tedian, .shijuanchuzhong ul li .tedian{float:left;max-width:60px;margin-right:5px;}/* width:50px; 2015年11月24日 zyp 括号隐藏修改 */

.shijuangaozhong ul li a:hover, .shijuanchuzhong ul li a:hover{color:#F43c5E;}
.shijuangaozhong ul li span, .shijuanchuzhong ul li span{font-size:14px;color:#999999;float:right;}
.product .txt{margin-bottom: 12px;margin-top: 45px;*margin-bottom: 43px;}
.about .txt{padding:53px 0;}
.fullProduct{background: #eee;}

.box1000 .nav{margin-left: 0;float: none;padding-bottom: 0;}
.topNav ul{float: none;margin: 0 auto;width: 1000px;}
.topNav li{padding: 0;margin: 20px 0 10px 95px;}
.topNav li:first-child{margin-left: 0;}
.topNav .subjectNav02 div ul{float: left;}
.topNav .subjectNav02 div ul li{margin: 0;}

.footBox .box1000 ul{width: 665px;height: 22px;margin: 0 auto;}
.indexLinks li {
	height: 108px;
	float: left;
	padding: 0px 20px 30px 0px;
	text-align: center;
	position: relative;
}
.indexLinks li.last{
	padding: 0px 0px 30px 0px;
}
/*导航改*/
.subjectNav01 div {left: -23px;top: 36px;}
.subjectNav02 div{top:36px;left: -44px;    width: 142px;height: 223px;}
.subjectNav03 div {left: -4px;top: 36px;}
.subjectNav04 div {left: -4px;top: 36px;}
.topNav .subjectNav02 div ul.leibie p{
  color: #f43c5e;
  font-size: 16px;
  padding-left: 14px;
}
.bbot{border-bottom: 1px solid #ccc;}
.cf:after,.cf:before,.cf li:after,.cf li:before {content: ""; display: table;}
.cf:after,.cf li:after { clear: both; }
.cf,.cf li{*zoom:1;}
.topNav .subjectNav02 div ul.leibie{padding-bottom: 8px;margin-top: 5px;margin-left: 1px; margin-bottom: 3px;}
/*首页引导层*/
#step62 .tipword{background-position: -700px -648px;}
#tipbar62{background-position: -925px -2626px;}
#step63 .tipword{background-position:-342px -900px;width: 300px;left: 35px;}
#tipbar63{background-position: -937px -5248px;left: 273px;}
#step63{left: 145px;}
#tipbar64{left: 404px;}
#tipbar65{left: 565px;}
#tipbar66{left: 730px;}
#step64{left: 287px;}
#step65{left: 438px;}
.topNav .subjectNav02 div ul.leibie li a{line-height: 24px;}
.topNav .subjectNav02 div ul.leibie li a:hover{line-height: 24px;}
/*元宵节*/
.full_login{
  width: 100%;
  height: 150px;
  background: url(../../images/questionBank/index/yxj.jpg) center top no-repeat;
  margin-top: -10px;
}
.topNav li a{
  border-bottom: 3px solid transparent;
}
/*.topNav{
  padding-top: 18px;
}*/
.topNav .call {
height: 60px;
}
.topNav .call img{
 margin-top: 10px;
}
/*加时间轴后新手引导定位*/
#tipbar62, #tipbar63, #tipbar64, #tipbar65{top:-571px;*top:-561px;}
#tipbar61{top:-262px;*top:-252px;}
#step61{top:-362px;}
#step62, #step63, #step64, #step65{top:-402px;}

/*最新试卷Tab效果试卷补充调整*/
.lastest .left{position:relative;}
.tabmenu, .tabmenuf{float:left;width:260px;padding:1px 0 0 35px;}
.tabmenu li, .tabmenuf li{float:left;margin:0 5px;height:22px;line-height:22px;width:50px;background:#f1f1f1;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.tabmenu li a, .tabmenuf li a{display:block;color:#333;font-size:14px;text-align:center;}
.tabmenu li a.tabactive, .tabmenuf li a.tabactive{color:#fff;background:#1887e3;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.tabmenuf li{width:64px;}

.tabmenuo .tabactive, .tabmenut .tabactive, .tabmenuh .tabactive, .tabmenus .tabactive, .tabmenue .tabactive, .tabmenui .tabactive{color:#f43c5e;}
.tabdiv{width:100%;position:absolute;left:0;top:46px;z-index:1;}
.tabqho .tabdiv, .tabqht .tabdiv, .tabqhh .tabdiv, .tabqhs .tabdiv, .tabqhe .tabdiv, .tabqhi .tabdiv{top:30px;z-index:1;}
.left .hiddendiv{filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;z-index:0;}
.gaozhongNav li a, .chuzhongNav li a{float:left;width:45px;text-align:left;color:#1887e3;font-size:14px;cursor:pointer;height: 30px;}
.lastest .left font{position:absolute;right:0;top:-68px;}



